div.menuprimary {
   display: block;
   background-color: #232F3F;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   max-height: 101px;
}

img { 
    display: inline-block;
}

input.search {
position: absolute;
left: 250px;
  width: 45%;
  height: 22px;

}